<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.0.0.4001" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.0.0.4001" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.480" targetFramework="net45" />
  <package id="ServiceStack" version="3.8.5" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.8.5" targetFramework="net45" />
  <package id="ServiceStack.Host.AspNet" version="3.8.5" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.8.6" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.8.5" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.8.5" targetFramework="net45" />
  <package id="WebActivator" version="1.5.1" targetFramework="net45" />
</packages>